* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    list-style: none;
}